{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info home-bio">
    <div class="bio-container">
        {{- with site.Params.homeImage }}
        <div class="bio-photo">
            <img src="{{ . }}" alt="{{ site.Title }}">
        </div>
        {{- end }}
        <div class="bio-text">
            <header class="entry-header">
                <h1>{{ .Title | markdownify }}</h1>
            </header>
            <div class="entry-content">
                {{ .Content | markdownify }}
            </div>
        </div>
    </div>
</article>
{{- end -}}
